name: Publish to PyPI

on:
  workflow_dispatch:
  release:
    types: [prereleased, released]

jobs:
  build_and_publish:
  name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Set up Python
        uses: actions/setup-python@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          python -m pip install --upgrade twine
        
      - name: Generating distribution archives
        run: |
          python -m build

      - name: Uploading the distribution archives
        env:
          PYPI_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m twine upload -u __token__ -p $PYPI_PASSWORD dist/*
